<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <h4>Credit Cards</h4>
                <table class="table">
                    <tr>
                        <th>
                            Account Number
                        </th>
                        <th>
                            Current Balance
                        </th>
                        <th>
                            Purchase APR
                        </th>
                        <th>
                            Cash APR
                        </th>
                        <th></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <h4>Loan Accounts</h4>

                <table class="table">
                    <tr>
                        <th>
                            Account Number
                        </th>
                        <th>
                            Current Balance
                        </th>
                        <th>
                            Term
                        </th>
                        <th>
                            APR
                        </th>
                        <th></th>
                    </tr>


                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <h4>Certificate of Deposit</h4>
                <table class="table">
                    <tr>
                        <th>
                            Account Number
                        </th>
                        <th>
                            Current Balance
                        </th>
                        <th>
                            Principal
                        </th>
                        <th>
                            Term
                        </th>
                        <th>
                            APY
                        </th>
                        <th></th>
                    </tr>


                </table>
            </div>
        </div>
    </div>

</div>
